/* @media screen and (max-width: 480px) {
  .header__container {

  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.cards-background {
  background: rgba(110, 110, 110, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.buttons {
  height: 35px;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  background-color: rgba(204, 204, 204, 0.540);
  padding: 0px 15px;
}

/* .buttons:hover {
  transform: scale(1.01);
} */

.clicked-weather-button {
  background-color: transparent;
  /* border-top: 2px solid rgba(204, 204, 204, 0.13); */
  border-bottom: 2px solid rgba(204, 204, 204, 0.425);
  border-radius: 10px;
  background-color: rgba(204, 204, 204, 0.140);
  padding: 0px 15px;
  color: #ccc;
  font-size: 19px;
  height: 40px;
  transition: 1200ms;
}

.icons-in-cards {

}

.weather-application {
  /* width: 100%; */
  min-height: 100vh;
  /* margin: 0 auto; */
  background-image: url(/images/day/mountain-fog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  /* position: relative; */
  transition: 2000ms;
  opacity: 0.9;
  /* font-family: 'Roboto', sans-serif; */
  /* font-weight: 400; */
  font-size: 19px;
}

@media screen and (max-width: 960px) {
  .weather-application {
    font-size: 17px;
  }
}

.container-general {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
  height: 100vh;
  margin: 0;
  padding: 10px 50px 0 100px;

  /* content: ''; */
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  /* width: 100%;
  height: 100%; */
  background: rgba(0, 0, 0, 0.3);
  /* z-index: 0; */
  /* background-color:gold; */
}

@media screen and (max-width: 1470px) {
  .container-general {
    padding: 10px 50px 0 50px;
  }
}

@media screen and (max-width: 1420px) {
  .container-general {
    padding: 10px 50px 0 90px;
  }
}

@media screen and (max-width: 1060px) {
  .container-general {
    padding: 10px 40px 0 30px;
  }
}

@media screen and (max-width: 960px) {
  .container-general {
    padding: 10px 30px 0 30px;
  }
}

@media screen and (max-width: 850px) {
  .container-general {
    grid-template-columns: 1fr;
    position: relative;
  }
}

.container-forecast {
  display: grid;
  grid-template-rows: 35px 1fr auto;
  grid-template-columns: 1fr;
}

.header {
}
.header__title {
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main__title {
  padding: 10px;
}

@media screen and (max-width: 520px) {
  .main__title {
    padding: 0;
  }
}

.main__title_location {
  padding: 50px 0 10px;
  font-size: 70px;
}

@media screen and (max-width: 850px) {
  .main__title_location {
    padding: 70px 0 10px;
    font-size: 65px;
  }
}

@media screen and (max-width: 520px) {
  .main__title_location {
    display: flex;
    justify-content: center;
    padding: 100px 0 0;
    font-size: 65px;
  }
}

.main__title_date {
}
.day {
}
.date {
}

.main__title_time {

}

.main__weather {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 110px;
  padding-right: 50px;
}

@media screen and (max-width: 1220px) {
  .main__weather {
    gap: 70px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 680px) {
  .main__weather {
    padding: 10px;
  }
}

@media screen and (max-width: 620px) {
  .main__weather {
    flex-direction: row-reverse;
    align-items: center;
    /* padding: 45px 100px 0 0; */
  }
}

@media screen and (max-width: 520px) {
  .main__weather {
    padding: 0;
  }
}

.main__weather_now {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 340px) {
  .main__weather_now {
    gap: 15px;
  }
}

.main__weather_now_icon {
  display: flex;
  align-items: center;
}

.icon {
  width: auto;
  height: 150px;
}

.main__weather_now_characteristic {
  text-align: center;
}

.now {
}

.now_temperature {
  font-size: 100px;
}

@media screen and (max-width: 620px) {
  .now_temperature {
    font-size: 90px;
  }
}

@media screen and (max-width: 330px) {
  .now_temperature {
    font-size: 80px;
  }
}

.now_temperature_number {
}
.now_temperature_units {
}

.now_feels-like {
  text-align: left;
}

.now_feels-like_text {
}
.now_feels-like_number {
}
.now_feels-like_units {
}

.now_description {
  padding: 2px 0 10px 0;
}

.now_description_text {
}

.main__weather_now_other-characteristic {
  display: flex;
  gap: 80px;
}

@media screen and (max-width: 1220px) {
  .main__weather_now_other-characteristic {
    gap: 50px;
  }
}

@media screen and (max-width: 620px) {
  .main__weather_now_other-characteristic {
    display: none;
  }
}

.weather-other {
}

.weather-other_temperature {
}

.weather-other--flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.weather-other--font-size {
  font-size: 25px;
}

@media screen and (max-width: 620px) {
  .weather-other--font-size {
    font-size: 20px;
  }
}

.weather-other_temperature_high {
  text-align: center;
}

.weather-other_temperature_high_text {
}
.weather-other_temperature_high_number {
}
.weather-other_temperature_high_units {
}

.weather-other_temperature_low {
  text-align: center;
}

.weather-other_temperature_low_text {
}
.weather-other_temperature_low_number {
}
.weather-other_temperature_low_units {
}
.weather-other_some-data {
}

.weather-other_some-data_wind {
  text-align: center;
}

.wind {
}
.wind_text {
}
.wind_number {
}
.wind_units {
}

.weather-other_some-data_humidity {
  text-align: center;
}

.humidity {
}
.humidity_text {
}
.humidity_number {
}
.humidity_units {
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 110px;
}

@media screen and (max-width: 850px) {
  .main__container {
    gap: 80px;
  }
}

@media screen and (max-width: 620px) {
  .main__container {
    align-items: center;
    /* position: absolute; */
    top: 190px;
    right: 50px;
    gap: 30px;
  }
}

.main__weather_detailed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 80px 50px 0 10px; */
  padding: 0 50px 0 10px;
}

@media screen and (max-width: 1510px) {
  .main__weather_detailed {
    padding: 0 15px 0 10px;
  }
}

@media screen and (max-width: 1415px) {
  .main__weather_detailed {
    padding: 0 100px 0 10px;
  }
}

@media screen and (max-width: 1100px) {
  .main__weather_detailed {
    padding: 0 60px 0 0;
  }
}

@media screen and (max-width: 1060px) {
  .main__weather_detailed {
    padding: 0 40px 0 10px;
  }
}

@media screen and (max-width: 620px) {
  .main__weather_detailed {
    /* flex-direction: row; */
    padding: 0 0 0 20px;
  }
}

@media screen and (max-width: 520px) {
  .main__weather_detailed {
    /* flex-direction: row; */
    padding: 0;
  }
}

.main__weather_detailed_titles {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;

  /* TODO media 1700px - padding-bottom: 10px; */
}

@media screen and (max-width: 620px) {
  .main__weather_detailed_titles {
    /* flex-direction: column; */
  }
}

.main__weather_detailed_titles_today {
  /* font-size: 20px; */
}

@media screen and (max-width: 960px) {
  .main__weather_detailed_titles_today {
    font-size: 16px;
  }
}

.main__weather_detailed_titles_next-days {
  /* font-size: 20px; */
}

@media screen and (max-width: 960px) {
  .main__weather_detailed_titles_next-days {
    font-size: 16px;
  }
}

.main__weather_detailed_forecast {
}

@media screen and (max-width: 860px) {
  .main__weather_detailed_forecast {
    display: flex;
    /* flex-direction: column; */
  }
}

/* .main__weather_detailed_forecast_three-hours {
  display: flex;
  gap: 20px;
  padding: 10px;
} */

.hourly {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

@media screen and (max-width: 1420px) {
  .hourly {
    gap: 20px 40px;
  }
}

@media screen and (max-width: 1406px) {
  .hourly {
    gap: 20px;
  }
}

@media screen and (max-width: 860px) {
  .hourly {
    display: grid;
    grid-template-rows: repeat(auto, 50px);
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: auto;
    /* height: 50px; */
    padding: 10px 20px;
  }
}

@media screen and (max-width: 620px) {
  .hourly {
    grid-template-rows: repeat(auto, 50px);
    grid-template-columns: 1fr;
    gap: 8px;
    padding: 0;
  }
}

.hourly_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 140px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
}

@media screen and (max-width: 960px) {
  .hourly_item {
    font-size: 20px;
    width: 90px;
    height: 130px;
  }
}

@media screen and (max-width: 860px) {
  .hourly_item {
    flex-direction: row;
    gap: 30px;
    width: auto;
    height: 50px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 620px) {
  .hourly_item {
    width: auto;
    height: 40px;
    /* padding: 10px 20px; */
  }
}

.hourly_item_time {
}

.hourly_item_icon {
  height: 70px;
}

@media screen and (max-width: 620px) {
  .hourly_item_icon {
    height: 40px;
  }
}

.hourly_item_temperature {
}
.hourly_item_temperature_number {
}
.hourly_item_temperature_units {
}

.main__weather_detailed_forecast_five-days {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.five-days {
  width: 100px;
  height: 170px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
}

@media screen and (max-width: 960px) {
  .five-days {
    font-size: 20px;
    width: 90px;
    height: 155px;
  }
}

@media screen and (max-width: 860px) {
  .five-days {
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    height: 50px;
    padding: 10px 20px;
  }
}

.five-days_date {
  font-size: 30px;
}

@media screen and (max-width: 960px) {
  .five-days_date {
    font-size: 27px;
  }
}

.five-days_day {
}

.five-days_icon {
  height: 70px;
}

.five-days_day-temperature {
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
}

@media screen and (max-width: 860px) {
  .five-days_day-temperature {
    padding: 0 10px;
  }
}

.five-days_day-temperature_number {
}
.five-days_day-temperature_units {
}

.five-days_night-temperature {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}

@media screen and (max-width: 860px) {
  .five-days_night-temperature {
    padding: 0;
  }
}

.five-days_night-temperature_number {
}
.five-days_night-temperature_units {
}
.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
}
.footer__text {
}

.container-search {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
  position: relative;
  background: rgba(110, 110, 110, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 850px) {
  .container-search {
    grid-template-rows: auto auto auto;
    justify-items: center;
    position: absolute;
    top: 10px;
    right: 30px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 620px) {
  .container-search {
    justify-items: end;
    justify-content: start;
    right: 115px;
    max-width: 50px;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
  }
}

.container-search__message {
  width: auto;
  height: 40px;
  padding: 10px;
  background-color: #ccc;
  border: 1px solid orangered;
  border-radius: 10px;
  color: black;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: -270px;
}

@media screen and (max-width: 960px) {
  .container-search__message {
    left: -245px;
  }
}

@media screen and (max-width: 520px) {
  .container-search__message {
    top: 40px;
    left: -70px;
    width: max-content;
  }
}

@media screen and (max-width: 460px) {
  .container-search__message {
    position: absolute;
    top: 142px;
    left: -50vw;
  }
}

.container-search__message--turn-opacity {
  opacity: 0;
  transition: 1s;
}

.container-search__message_text {

}

.container-search__form {
  display: flex;
  justify-content: space-around;
  padding: 15px 25px 10px 10px;
}

@media screen and (max-width: 850px) {
  .container-search__form {
    justify-content: center;
    padding: 10px 10px 6px 0;
  }
}

@media screen and (max-width: 460px) {
  .container-search__form {
    position: absolute;
    top: 110px;
    left: -38vw;
    padding: 0;
  }
}

.container-search__form_input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(204, 204, 204, 0.384);
  padding: 0 10px;
  width: 80%;
  font-size: 17px;
  color: #ccc;
}

.container-search__form_input:focus {
  outline: none;
}

.container-search__form_input::placeholder {
  color: #ccc;
}

@media screen and (max-width: 620px) {
  .container-search__form_input {
    width: 120px;
  }
}

.container-search__form_button {
  border: none;
  background-color: transparent;
}

.container-search__form_button--loupe {
  position: relative;
  width: 30px;
  height: 30px; 
  border: 5px solid rgb(200, 200, 200);
  border-radius: 50%;
  transition: 500ms;
}

.container-search__form_button--loupe:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 6px;
  background-color: rgb(200, 200, 200);
  border-radius: 0 7.5px 7.5px 0;
  transform-origin: 0 50%;
  transform: translateX(100%) rotate(45deg);
}

.container-search__form_button--loupe:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 850px) {
  .container-search__form_button--loupe {
    width: 25px;
    height: 25px;
    border: 4px solid rgb(200, 200, 200);
  }
}

@media screen and (max-width: 850px) {
  .container-search__form_button--loupe:after {
    width: 15px;
    height: 5px;
  }
}

.container-search__results-of-search {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: auto;
}

@media screen and (max-width: 850px) {
  .container-search__results-of-search {
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr 1fr;
    justify-items: end;
  }
}

@media screen and (max-width: 620px) {
  .container-search__results-of-search {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    padding: 0 0 0 20px;
  }
}

@media screen and (max-width: 520px) {
  .container-search__results-of-search {
      display: none;
  }
}

.container-search__results-of-search_item {
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  list-style: none;
  border-bottom: 1px dotted rgba(204, 204, 204, 0.363);
  font-size: 18px;
  transition: 500ms;
}

.item:hover {
  background-color: rgba(204, 204, 204, 0.185);
  transform: scale(1.01);
}

@media screen and (max-width: 850px) {
  .item {
    padding: 0 20px;
    font-size: 16px;
  }
}

/* @media screen and (max-width: 520px) {
  .item {
    display: none;
  }
} */

.item_location {
}

.item_location_text {
  text-decoration: none;
  color: black;
  /* font-size: 18px; */
}

.item_close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  width: 25px;
  height: 25px;
}

.item_close-button_icon {
  color: #ccc;
  width: 25px;
  height: 25px;
}

.container-search__clear-storage-button {
  margin-top: 15px;
}

@media screen and (max-width: 850px) {
  .container-search__clear-storage-button {
    margin: 5px 0;
    width: 135px;
    height: 30px;
    font-size: 14px;
  }
}

@media screen and (max-width: 620px) {
  .container-search__clear-storage-button {
    display: none;
  }
}