* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.icons-in-cards {

}

.weather-application {
  /* width: 100%; */
  min-height: 100vh;
  /* margin: 0 auto; */
  background-image: url(/images/day/mountain-fog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  /* position: relative; */
  transition: 2000ms;
  opacity: 0.9;
  /* font-family: 'Roboto', sans-serif; */
  /* font-weight: 400; */
}

/* .weather-application::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
} */

.container-general {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
  height: 100vh;
  margin: 0;
  padding: 10px 50px 0 100px;

  /* content: ''; */
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  /* width: 100%;
  height: 100%; */
  background: rgba(0, 0, 0, 0.3);
  /* z-index: 0; */
  /* background-color:gold; */
}

.container-forecast {
  display: grid;
  grid-template-rows: 35px 1fr auto;
  grid-template-columns: 1fr;
}

.header {
}
.header__title {
}
.main {
}

.main__title {
  padding: 10px;
}

.main__title_location {
  padding: 50px 0 10px;
  font-size: 70px;
}

.main__title_date {
}
.day {
}
.date {
}

.main__title_time {

}

.main__weather {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main__weather_now {
  display: flex;
  gap: 30px;
}

.main__weather_now_icon {
  display: flex;
  align-items: center;
}

.icon {
  width: auto;
  height: 150px;
}

.main__weather_now_characteristic {
  text-align: center;
}

.now {
}

.now_temperature {
  font-size: 100px;
}

.now_temperature_number {
}
.now_temperature_units {
}

.now_feels-like {
  text-align: left;
}

.now_feels-like_text {
}
.now_feels-like_number {
}
.now_feels-like_units {
}

.now_description {
  padding: 2px 0 10px 0;
}

.now_description_text {
}

.main__weather_now_other-characteristic {
  display: flex;
  gap: 80px;
}

.weather-other {
}

.weather-other_temperature {
}

.weather-other--flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.weather-other--font-size {
  font-size: 25px;
}

.weather-other_temperature_high {
  text-align: center;
}

.weather-other_temperature_high_text {
}
.weather-other_temperature_high_number {
}
.weather-other_temperature_high_units {
}

.weather-other_temperature_low {
  text-align: center;
}

.weather-other_temperature_low_text {
}
.weather-other_temperature_low_number {
}
.weather-other_temperature_low_units {
}
.weather-other_some-data {
}

.weather-other_some-data_wind {
  text-align: center;
}

.wind {
}
.wind_text {
}
.wind_number {
}
.wind_units {
}

.weather-other_some-data_humidity {
  text-align: center;
}

.humidity {
}
.humidity_text {
}
.humidity_number {
}
.humidity_units {
}

.main__weather_detailed {
  padding: 80px 0 0 10px;
}

.main__weather_detailed_titles {
}
.main__weather_detailed_titles_today {
}
.main__weather_detailed_titles_next-days {
}

.main__weather_detailed_forecast {
}

.main__weather_detailed_forecast_three-hours {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.hourly {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hourly_item {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

.hourly_item_time {
}

.hourly_item_icon {
  height: 70px;
}

.hourly_item_temperature {
}
.hourly_item_temperature_number {
}
.hourly_item_temperature_units {
}

.main__weather_detailed_forecast_five-days {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.five-days {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}
.five-days_date {
  font-size: 25px;
}
.five-days_day {
}

.five-days_icon {
  height: 70px;
}

.five-days_day-temperature {
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
}

.five-days_day-temperature_number {
}
.five-days_day-temperature_units {
}
.five-days_night-temperature {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
}
.five-days_night-temperature_number {
}
.five-days_night-temperature_units {
}
.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
}
.footer__text {
}

.container-search {
  background: rgba(110, 110, 110, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.container-search__form {
  display: flex;
  padding: 10px;
}

.container-search__form_input {
  background: none;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
  width: 80%;
  color: #ccc;
}

.container-search__form_input:focus {
  outline: none;
}

.container-search__form_input::placeholder {
  color: #ccc;
}

.container-search__form_button {
}
.container-search__results-of-search {
}

.container-search__results-of-search_item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  list-style: none;
}

.item {
}

.item_location {
}

.item_location_text {
  text-decoration: none;
  color: black;
}

.item_close-button {
  border: none;
}

.item_close-button_icon {
  height: 15px;
}