* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 19px; */
}

.hidden {
  display: none;
}

.cards-background {
  background: rgba(110, 110, 110, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.buttons {
  height: 35px;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  background-color: rgba(204, 204, 204, 0.540);
  padding: 0px 15px;
}

.clicked-weather-button {
  background-color: transparent;
  /* border-top: 2px solid rgba(204, 204, 204, 0.13); */
  border-bottom: 2px solid rgba(204, 204, 204, 0.425);
  border-radius: 10px;
  background-color: rgba(204, 204, 204, 0.140);
  padding: 0px 15px;
  color: #ccc;
  font-size: 19px;
  height: 45px;
}

.icons-in-cards {

}

.weather-application {
  /* width: 100%; */
  min-height: 100vh;
  /* margin: 0 auto; */
  background-image: url(/images/day/mountain-fog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  /* position: relative; */
  transition: 2000ms;
  opacity: 0.9;
  /* font-family: 'Roboto', sans-serif; */
  /* font-weight: 400; */
  font-size: 19px;
}

.container-general {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
  height: 100vh;
  margin: 0;
  padding: 10px 50px 0 100px;

  /* content: ''; */
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  /* width: 100%;
  height: 100%; */
  background: rgba(0, 0, 0, 0.3);
  /* z-index: 0; */
  /* background-color:gold; */
}

.container-forecast {
  display: grid;
  grid-template-rows: 35px 1fr auto;
  grid-template-columns: 1fr;
}

.header {
}
.header__title {
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main__title {
  padding: 10px;
}

.main__title_location {
  padding: 50px 0 10px;
  font-size: 70px;
}

.main__title_date {
}
.day {
}
.date {
}

.main__title_time {

}

.main__weather {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-right: 50px;
}

.main__weather_now {
  display: flex;
  gap: 30px;
}

.main__weather_now_icon {
  display: flex;
  align-items: center;
}

.icon {
  width: auto;
  height: 150px;
}

.main__weather_now_characteristic {
  text-align: center;
}

.now {
}

.now_temperature {
  font-size: 100px;
}

.now_temperature_number {
}
.now_temperature_units {
}

.now_feels-like {
  text-align: left;
}

.now_feels-like_text {
}
.now_feels-like_number {
}
.now_feels-like_units {
}

.now_description {
  padding: 2px 0 10px 0;
}

.now_description_text {
}

.main__weather_now_other-characteristic {
  display: flex;
  gap: 80px;
}

.weather-other {
}

.weather-other_temperature {
}

.weather-other--flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.weather-other--font-size {
  font-size: 25px;
}

.weather-other_temperature_high {
  text-align: center;
}

.weather-other_temperature_high_text {
}
.weather-other_temperature_high_number {
}
.weather-other_temperature_high_units {
}

.weather-other_temperature_low {
  text-align: center;
}

.weather-other_temperature_low_text {
}
.weather-other_temperature_low_number {
}
.weather-other_temperature_low_units {
}
.weather-other_some-data {
}

.weather-other_some-data_wind {
  text-align: center;
}

.wind {
}
.wind_text {
}
.wind_number {
}
.wind_units {
}

.weather-other_some-data_humidity {
  text-align: center;
}

.humidity {
}
.humidity_text {
}
.humidity_number {
}
.humidity_units {
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 110px;
}

.main__weather_detailed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 80px 50px 0 10px; */
  padding: 0px 50px 0 10px;
}

.main__weather_detailed_titles {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  
  /* TODO media 1700px - padding-bottom: 10px; */
}

.main__weather_detailed_titles_today {
  /* font-size: 20px; */
}

.main__weather_detailed_titles_next-days {
  /* font-size: 20px; */
}

.main__weather_detailed_forecast {
}

.main__weather_detailed_forecast_three-hours {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.hourly {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hourly_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 150px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
}

.hourly_item_time {
}

.hourly_item_icon {
  height: 70px;
}

.hourly_item_temperature {
}
.hourly_item_temperature_number {
}
.hourly_item_temperature_units {
}

.main__weather_detailed_forecast_five-days {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.five-days {
  width: 100px;
  height: 170px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
}
.five-days_date {
  font-size: 30px;
}
.five-days_day {
}

.five-days_icon {
  height: 70px;
}

.five-days_day-temperature {
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
}

.five-days_day-temperature_number {
}
.five-days_day-temperature_units {
}
.five-days_night-temperature {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}
.five-days_night-temperature_number {
}
.five-days_night-temperature_units {
}
.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
}
.footer__text {
}

.container-search {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
  position: relative;
}

.container-search__message {
  width: auto;
  height: 40px;
  padding: 10px;
  background-color: #ccc;
  border: 1px solid orangered;
  border-radius: 10px;
  color: black;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: -230px;
}

.container-search__message--turn-opacity {
  opacity: 0;
  transition: 1s;
}

.container-search__message_text {

}

.container-search__form {
  display: flex;
  justify-content: space-around;
  padding: 15px 25px 10px 10px;
}

.container-search__form_input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(204, 204, 204, 0.384);
  padding: 0 10px;
  width: 80%;
  font-size: 17px;
  color: #ccc;
}

.container-search__form_input:focus {
  outline: none;
}

.container-search__form_input::placeholder {
  color: #ccc;
}

.container-search__form_button {
  border: none;
  background-color: transparent;
}

.container-search__form_button--loupe {
  position: relative;
  width: 30px;
  height: 30px; 
  box-sizing: border-box;
  border: 5px solid rgb(200, 200, 200);
  border-radius: 50%;
}

.container-search__form_button--loupe:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 6px;
  background-color: rgb(200, 200, 200);
  border-radius: 0 7.5px 7.5px 0;
  transform-origin: 0 50%;
  transform: translateX(100%) rotate(45deg);
}

.container-search__results-of-search {
  /* display: flex;
  flex-direction: column; */

  display: grid;
  grid-template-rows: repeat(1fr);
  grid-template-columns: auto;
}


.container-search__results-of-search_item {
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  list-style: none;
  border-bottom: 1px dotted rgba(204, 204, 204, 0.363);
  font-size: 18px;
}

.item:hover {
  background-color: rgba(204, 204, 204, 0.185);
}

.item_location {
}

.item_location_text {
  text-decoration: none;
  color: black;
  /* font-size: 18px; */
}

.item_close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  width: 25px;
  height: 25px;
}

.item_close-button_icon {
  color: #ccc;
  width: 25px;
  height: 25px;
}

.container-search__clear-storage-button {
  /* height: 35px;
  font-size: 17px; */
  margin-top: 15px;
  /* border: none;
  background-color: rgba(204, 204, 204, 0.540); */
}